.opening-image{
    width: 100vw;
    max-width:100%; 
    height: 100vh;
    display: flex;
    background-image: url("https://static.toiimg.com/photo/msid-71212679/71212679.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.cover-white{
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.7);
}
.align-it{
    width: 100%;
    height: 100%;
    padding: 10px 10px 30px 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.opening-text{
    height: auto;
}
.ot-title{
    font-size: 2.8em;
}
.ot-para{
    margin-bottom: 20px;
    font-weight: 600;
}
.ot-explore{
    padding: 10px 30px 10px 30px;
    font-size: 1.4em;
    border-radius: 8px;
}


/* welcoming */
.welcoming{
    padding: 30px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    width: 100vw;
    max-width:100%; 
}
.w-title{
    margin-bottom: 10px;
    font-size: 1.6em;
}
.w-para{
    font-size: 1.2em;
}

/* manfaat */
.manfaat{
    margin-bottom: 40px;
}
.manfaat-content{
    width: 95%;
    margin: 0 auto;
    padding: 10px 5px 10px 5px;
    display: flex;
    gap: 10px;
    overflow-x: scroll;
    -ms-overflow-style: none; 
    scrollbar-width: none; 
    flex-wrap: nowrap;
    justify-content: flex-start;
}
.mc-card{
    overflow: hidden;
    width: 300px;
    height: 150px;
    border-radius: 5px;
    background-repeat: no-repeat;
    background-size: cover; 
    position: relative;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    display: flex;
    align-items: flex-end;
}
.mcc-black{
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: .6;

}
.mcc-text{
    position: relative;
    z-index: 2;
    font-size: 1.2em;
    letter-spacing: 2px;
    padding: 10px;
}
.manfaat-content::-webkit-scrollbar{
    display: none; 
}

/* advantages related */
.advantages{
    /* background-color: red; */
}
.advantages-content{
    width: 95%;
    margin: 0px auto;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
    flex-shrink: 0;
    flex-grow: 0;
}
.ac-card{
    width: 250px;
    min-height: 320px;
    border-radius: 10px;
    padding: 10px;
    justify-content: center;
    gap: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.ac-top{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.acc-image{
    width: 90%;
    height: auto;
}
.acc-text{
    text-align: center;
}
@media screen and (min-height:768px) {
    .opening-image{
        height: 768px;
    }
}

@media screen and (min-width: 1200px) {
    .align-it{
        width: 1200px;
        margin: 0 auto;
    }
    .ot-title{
        font-size: 4em;
    }
    .ot-para{
        font-size: 1.2em;
    }
    .ot-explore{
        font-size: 1.5em;
    }
}

@media screen and (min-width:512px){
    .opening-text{
        width: 512px;
    }
    .welcoming{
        width: 512px;
        margin: 0 auto;
    }
}